html { 
	height: 100%; 
}

body {
	height: 100%;
	color: rgb(209,210,211);
	font-family: Lato,appleLogo,sans-serif;
	/*font-weight: 300;*/
	margin: 0;
}

.header-row {
	height: 46px;
	padding: 16px;
}

.columnscontainer {
	height: 100%;
	display: flex;
}


.light-back-on-hover:hover {
  cursor: pointer;
  background: rgb(39,36,44);
}

/* TOOLTIP */

.tooltip {
  position: relative;
  display: inline-block;
  border-color: rgb(54,51,56);
}

.tooltip .tooltiptext {
  color: rgb(209,210,211);
  font-family: Lato,appleLogo,sans-serif;
  font-size: small;

  visibility: hidden;
  width: 160px;
  background-color: #000000;

  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;

  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #000000 transparent transparent transparent;
}

.tooltip:hover .tooltiptext, .tooltip-down:hover .tooltiptext-down, .tooltip-left:hover .tooltiptext-left {
  visibility: visible;
  opacity: 1;
}



/*DOWN*/

/* Tooltip container */
.tooltip-down {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip-down .tooltiptext-down {
  visibility: hidden;
  width: 160px;
  font-family: Lato,appleLogo,sans-serif;
  font-size: small;
  background-color: black;
  color: rgb(209,210,211);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;

  top: 100%;
  left: 50%; 
  margin-left: -80px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip-down .tooltiptext-down::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}



/*LEFT*/

.tooltip-left {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip-left .tooltiptext-left {
  visibility: hidden;
  width: 160px;
  font-family: Lato,appleLogo,sans-serif;
  font-size: small;
  background-color: black;
  color: rgb(209,210,211);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  right: 105%;
  margin-left: -80px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip-left .tooltiptext-left::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%; /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}




/* BORDERS */

.border-right {
	border-style: solid;
	border-width: 0 1px 0 0;
	border-color: rgb(43,42,49);
}

.border-bottom {
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: rgb(43,42,49);
}
